.global-case {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.7fr repeat(4, 1fr);
    column-gap: 20px;
    margin: 10px 20px 0;
    justify-content: center;
    background: #f5ef42;
    box-shadow: 5px 5px 10px 4px grey;
}

.globe-image {
    width: 70%;
    padding: 10px;
    height: auto;
    margin: auto auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}

.head {
    font-size: 1.4rem;
    font-family: 'Luckiest Guy', cursive;
    margin: auto 0;
    color: green;
}
