.country-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 15px;
    background: linear-gradient(180deg, dodgerblue, deepskyblue, lightskyblue, skyblue, white);
    padding: 10px;
    border-radius: 10px;
    color: black;
    box-shadow: 5px 5px 10px 4px lightgrey;
    transform: translateZ(0);
    transition: transform 0.3s ease-out;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 300px;
}

.card-flag {
    margin: 0 auto;
    width: 90px;
    height: 90px;
}

.country-card:hover {
    transform: scale(1.05);
}
